.bgimg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../data/iq-w-swiecie-przemyslu.jpg");
  min-height: 100%;
  z-index: 99;
}

.starter {
  height: 100vh;
  align-content: center;
}

.logo {
  right: 10%;
  top: 5%;
  position: absolute;
}

.menu {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  top: 40%;
  left: 15%;
  height: 200px;
  max-height: 40rem;
  max-width: 25%;
  position: absolute;
  min-width: 300px;
}

.createPrjBtn {
  display: block;
  padding-top: 20vh;
}

.createPrjBtn button {
  width: 200px;
  height: 100px;
  background-color: rgb(33, 63, 75);
  border-radius: 15px;
  font-weight: bolder;
  font-size: large;
}

.title {
  position: absolute;
  font-size: xx-large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  right: 25%;
  bottom: 45%;
  color: rgb(255, 247, 202);
  background-color: rgba(22, 53, 71, 0.75);
  border-radius: 50%;
}

.menu li span {
  margin-left: 2vh;
  color: black;
}
