.module {
  color: #dbd3d3;
  font-family: Arial;
  font-weight: bold;
  padding: 5px;
  margin: 0px 10px;
  border-radius: 3px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #3f3b3b;
}
