.navbar {
  min-height: 45px;
  width: 100%;
  display: flex;
  flex-basis: 5%;
  background: #1d1c1c;
  border-bottom: 3px solid rgb(70, 70, 70);
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}

.logo {
  font-size: 1.5rem;
  color: wheat;
  font-weight: bold;
  padding: 20px;
  padding-left: 300px;
}

.controls {
  margin-left: 10px;
}
svg {
  margin-right: 20px;
}
