.sidebar {
  background: #1d1b1b;
  padding-top: 20px;
  display: block;
  flex: 1 1 15%;
  white-space: pre-line;
  overflow-y: scroll;
  overflow: auto;
  z-index: 99;
  color: rgb(190, 189, 190);
  flex-shrink: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  overflow-wrap: break-word;
}

.sidTitle {
  padding-left: 10px;
  padding-bottom: 30px;
}
