.toolBar {
  width: 10%;
  background: #e0d7d7;
  padding-top: 20px;
  display: block;
  white-space: pre-line;
  overflow-y: scroll;
  overflow: auto;
  z-index: 99;
  min-width: 150px;
  border-left: 5px solid rgb(124, 111, 110);
}
