.toolBar {
  background: #3b3b3b;
  white-space: pre-line;
  overflow-y: scroll;
  overflow: auto;
  z-index: 99;
  border-left: 3px solid rgb(70, 70, 70);
  flex: 1 1 25%;
  height: 100%;
}

.tabContent {
  width: 100%;
}
